.container{
  padding:32px 80px;
  color: #1C1B1E ; 
  font-family: Mulish;
}
.boxsearch{
  padding: 24px 14px;
  box-shadow: 0px 5px 10px 0px #0000001A;
  background: #FFFFFF;
  padding: 24px, 24px, 24px, 14px;
  border-radius: 24px;
}

.section2{
  margin-top: 48px;
  display:grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

.helpfull{
  font-size: 26px;
  font-weight: 600;
  line-height: 38px;
}

.hfSection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
  margin-top: 24px;
}

.policy{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.menu{
  margin-top:24px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:24px;
}

.foods{
  margin-top:24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.food_{
  padding: 4px 8px 4px 8px;
  border-radius: 20px;
  background: #D2EAF9;
}

.seeMore{
  width:  136px;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  border: solid var(--gray-6, #79767B) 1px;
  text-align:center;
  margin: 40px auto 0 auto;
  line-height:20.08px;
}