.city {
    float: left;
    width: 100%;
    padding: 40px 75px;
}

.txt {
    padding-bottom: 40px;
    color: #1C1B1E;
    font-size: 30px;
    font-family: Roboto-Medium;
    line-height: 35px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.item {
    width: calc(100% / 6.5);
    padding: 0 10px;
}